.share-page {
    text-align: center;
    background: #16A085 none repeat scroll 0% 0%;
    color: #EFEFEF;
    padding: 8px 15px;
    border-radius: 3px;
    margin: 48px 0px;
}

.share-page a {
    font-weight: 700;
    color: #FFF;
    margin-left: 10px;
}

.share-page a:hover, .share-page a:focus {
    text-decoration: none;
    border-bottom: 1px dashed #fff;
}
